* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fontStyle {
  color: #e1e1e2;
  font-family: "Rubik", sans-serif;
}

.wrap {
  grid-column: 2/6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main {
  grid-column: 5/9;
  max-width: 1000px;
  min-height: 100vh;
  &__headerFruit {
    height: 59.75px;
    grid-column: 2/6;
    background-color: #5b5b68;
    border-radius: 20px;
    margin: 15px 0 15px 0;
    &-title {
      text-align: center;
      font-size: 24px;
    }
  }
  &__article {
    min-width: 288px;
    grid-column: 2/6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px;
    &-input {
      width: 65%;
      min-height: 56px;
      border-radius: 20px;
      background-color: #5b5b68;
      border: none;
      margin-right: 8px;
      color: #e1e1e2;
    }
    &-input:focus {
      background-color: #a7a6ad;
      outline: none;
      color: black;
    }
    &-addFruit {
      width: 35%;
      min-height: 56px;
      background-color: #4263eb;
      border: none;
      border-radius: 20px;
      font-size: 16px;
    }
    &-addFruit:hover {
      background-color: #3b62fd;
      color: black;
      border: 2px solid white;
    }
  }
  &__section {
    grid-column: 2/6;
    min-height: 475px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    background-color: #5b5b68;
    border-radius: 20px;
    &-delete {
      width: 30%;
      min-height: 51px;
      justify-self: flex-end;
      align-self: flex-end;
      margin: 10px;
      background-color: #eb4242;
      border: none;
      border-radius: 20px;
      color: #e1e1e2;
      font-size: 16px;
    }
    &-delete:hover {
      background-color: #ff3e3e;
      color: black;
      border: 2px solid black;
    }
  }
  &__addToList {
    margin-top: 15px;
    grid-column: 2/6;
    background-color: #5b5b68;
    border: none;
    border-radius: 20px;
    min-height: 51px;
    font-size: 16px;
  }
  &__addToList:hover {
    background-color: #525292;
    color: black;
  }
  &__back {
    margin: 15px 0 15px 0;
    grid-column: 2/6;
    font-size: 16px;
    background-color: #5b5b68;
    border: none;
    border-radius: 20px;
    min-height: 51px;
    text-decoration: none;
    text-align: center;
    line-height: 51px;
  }
  &__back:hover {
    background-color: #525292;
    color: black;
  }
}

.listOfFruits {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &-fruit {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #212032;
    list-style: none;
  }
  &-fruit:hover {
    background-color: #474757;
    color: black;
  }
}

// #no-margin {
//   margin-bottom: 15px;
// }
